<!DOCTYPE html>
<html>
<head>
	<title>Kai - About</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali|Meddon|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
</head>
<body>
	<div class="fixed_header">
		<div class="button"><a href="about.html">About</a></div>
		<div class="button" id="logo"><a href="../index.html">Kai M</a></div>
		<div class="button"><a href="collections.html">Collections</a></div>
		<div class="page"> </div>
	</div>
	<div class="content">
		I am a <div class="withcomment">non-binary <div class="comment">he/they pronouns</div></div> creative, self-diagnosed with poetry. 
		<br><br>
		In my poetry, I mosty look towards celebration or investigation. Celebration of life and its highs and lows is a concept dear to my heart. Not only the pleasures of life, but also its pains deserve to be understood and celebrated, though, it often happens in different ways.
		<br><br>
		On the other hand, investigation in my poetry often takes either a speculative or an introspective form. Other than language investigaton, which is another genre, investigation of the world for me involves looking within and looking out.
		<br><br>
		Language poetry, on the other hand, is more specific. It features an exploration of language as an always-evolving social construct. A lot of my poetry involves language exploration, but language poetry is specifically dedicated to this cause.
		<br><br>
	</div>
</body>
</html>
