<!DOCTYPE html>
<html>
<head>
	<title>Poetry collections</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali|Meddon|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/collections.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
	
</head>

<body>
	<div class="fixed_header">
		<div class="button"><a href="about.html">About</a></div>
		<div class="button" id="logo"><a href="../index.html">Kai M</a></div>
		<div class="button"><a href="collections.html">Collections</a></div>
		<div class="page"> </div>
	</div>
	<div class="content">
		<dl>
			<dt><a href="crayola.html">Crayola colors 
				<div class="number">1</div></a>
			</dt>
			<dd>This collection includes poems inspired by names of different colors. It started with names of Crayola colors, but now it includes other colors found on the web. The title of each poem is the name of the color it was inspired by and its hex code.</dd>
			<dt><a href="language.html">Language poetry
			<div class="number">2</div></a>
			</dt>
			<dd>A sonics- and language-driven collection of poetry that focuses on the sound and visuals of language.</dd>
			<dt><a href="memes.html">Meme poetry 
				<div class="number">3</div></a>
			</dt>
			<dd>A collection of poetry inspired by memes.</dd>
			<dt><a href="windowtalks.html">Windowsill talks
			<div class="number">4</div></a>
			</dt>
			<dd>A nostalgic collection of poems rooted in reality of feeling and subjective recollection of experience.</dd>
			<dt><a href="translations.html">Translated poetry 
				<div class="number">7</div></a>
			</dt>
			<dd>This collection includes poems I initially wrote in Russian but have translated into English. They are not connected with a certain theme. Both the original poem and the translation are present for each poem.</dd>
		</dl>		
	</div>
</body>
</html>
