<!DOCTYPE html>
<html>
<head>
	<title>Crayola Colors</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali|Meddon|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/poetry.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
	<script type="text/javascript" src="../javascript/poetry.js"></script>
</head>

<body>
	<div class="fixed_header">
		<div class="button"><a href="about.html">About</a></div>
		<div class="button" id="logo"><a href="../index.html">Kai M</a></div>
		<div class="button"><a href="collections.html">Collections</a></div>
		<div class="page"> </div>
	</div>
	<div class="content" id="top">
		<h2>Crayola colors</h2>
		<ul>
			<li><a href="#tangerine"> Atomic Tangerine - #FFA474 <div class="number">1</div></a></li>
			<li><a href="#lime"> Electric Lime - #1DF914 <div class="number">2</div></a></li>
			<li><a href="#lemon"> Laser Lemon - #FDFC74 <div class="number">3</div></a></li>
			<li><a href="#latte"> Cosmic Latte - #FFF8E7 <div class="number">4</div></a></li>
			<li><a href="#yellow"> Unmellow Yellow - #FFFF66 <div class="number">5</div></a></li>
		</ul>
		<div class="poem" id="tangerine">
			<h3>Atomic Tangerine - #FFA474</h3>
			I was in the fields of debris
			<br>from my last house in the suburbs,
			<br>looking around and wondering
			<br>what had happened there,
			<br>
			<br>when I was approached by a madman,
			<br>wearing a bright orange hat;
			<br>he claimed aliens had caught everyone
			<br>except for him. 
			<br>
			<br>I asked him whether anything survived,
			<br>and he pointed at a tiny tree 
			<br>that grew from a little purple pot
			<br>in the middle of nowhere. 
			<br>
			<br>It held the strangest things on its fingers, 
			<br>tiny pre-sliced suns, enclosed in thick skin. 
			<br>And before I knew it
			<br>everything was green again.
			<br><div class="date">Last edit June 27<sup>th</sup> 2017</div>
		</div>
		<div class="poem"id="lime">
			<h3>Electric Lime - #1DF914</h3>
			In the beginning of the century 
			<br>there was a group of weird people,
			<br>none of them had committed treachery,
			<br>but all agreed to.
			<br>
			<br>They made a pact to fuck autonomy 
			<br>and lie in their soft beds all year,
			<br>so, having ruined the economy,
			<br>they would have air. 
			<br>
			<br>None would remember their symmetry 
			<br>or even symbolism of era.
			<br>On their remains colorimetry 
			<br>was used for rarer
			<br>
			<br>investigations of effect on them,
			<br>induced by voltage of some chairs.
			<br>Before the science used the meristem
			<br>for purer wear.
			<br>
			<br>Then right above the humble burial
			<br>a tree appeared, slightly greenish.
			<br>And, as you’ve heard from your aunt Muriel,
			<br>that was the finish. 
			<br><div class="date">Last edit August 3<sup>rd</sup> 2017</div>
		</div>
		<div class="poem" id="lemon">
			<h3>Laser Lemon - #FDFC74</h3>
			On a long forgotten planet
			<br>in a tiny sea of ice,
			<br>lived a spy who was a bandit
			<br>and a master of disguise.
			<br>
			<br>When the war was started, promptly
			<br>he omitted all the plans,
			<br>then he ran away to Berkeley
			<br>and committed to pretence.
			<br>
			<br>It’s a little bit unnerving 
			<br>that somehow he could not stop
			<br>very casual observing 
			<br>of each national rooftop.
			<br>
			<br>He’d forgotten all the marvels
			<br>of his freezing motherland,
			<br>then he quickly lost his marbles
			<br>and discovered what he’d planned.
			<br>
			<br>He used little drops of light to
			<br>override the system’s flaws,
			<br>ended up he yelling, “Buy two!”
			<br>to enforcers of the laws.
			<br>
			<br>Then a little bit of blunt force
			<br>was applied to his weak head,
			<br>so his skull was shattered like quartz,
			<br>he was soon pronounced dead.
			<br><div class="date">Last edit June 27<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="latte">
			<h3><div class="withcomment">Cosmic Latte - #FFF8E7</div>
				<div class="comment">A web color, not a crayola color</div>
			</h3>
			I feel at once at peace and laughing, giddy with unadulterated joy
			<br>As I see two creamy-beige eyes without pupils speaking into mine.
			<br>
			<br>Abundance comes with aromas of freedom, the velvet of indulgence,
			<br>but really, excess is sweet and through it may we find bliss.
			<br>
			<br>The spirals all around me are not nearing their end, 
			<br>nor should they
			<br>nor would they until it is high time for us all to stop
			<br>
			<br>I feel divine-like content as I allow myself to disappear
			<br>to dissolve in the most natural pattern
			<br>of music
			<br>
			<br>I smell the world burning but not too much
			<br>just enough to assume a deep earthy touch
			<br>with a delightful smoky finish
			<br>
			<br>I am caught in a silky smoothness
			<br>surrounding me like waters of the womb
			<br>and leading me into a dizzying enlightenment 
			<br>
			<br>Have you ever noticed how much cosmic euphoria
			<br>tastes like a cup of coffee 
			<br>on a lazy morning? 
			<br><div class="date">Last edit September 11<sup>th</sup> 2018</div>
		</div>
		<div class="poem" id="yellow">
			<h3>Unmellow Yellow - #FFFF66</h3>
			Try, defy, then run and hide,
			<br>hello, glow, absorb a blow.
			<br>If you whiff and sniff a glyph,
			<br>sigh, and throw self off a cliff.
			<br>
			<br>My anxieties appear
			<br>in varieties of air:
			<br>show some oxygen and gas,
			<br>end with hydrogen and mass,
			<br>redesign and put together
			<br>your apocalyptic weather.
			<br>
			<br>In my sheath of pure fear,
			<br>I can’t breathe or draw you near;
			<br>In a human glass-made cage,
			<br>I am lumen of their rage:
			<br>indirectly burn with age;
			<br>income burns the most sage.
			<br>
			<br>Go inside and lock the house,
			<br>odds are rotten to an ounce.
			<br>  
			<br>There is only central stage;
			<br>host lends terror to their page,
			<br>renders anxious mess unique;
			<br>others see me as oblique.
			<br>Utter and complete defeat
			<br>goes after something sweet;
			<br>how it can cheat, it’ll cheat.
			<br><div class="date">Last edit October 22<sup>nd</sup> 2018</div>
		</div>
	</div>
	<a href="#top"><div class="upto"><img src="../images/upto.png" alt="Up to the list of contents"></div></a>
	<!--tangerine: tangerine border + color, lime border + color, lemon border + color, coffee cups border + scolor-->
</body>
</html>