<!DOCTYPE html>
<html>
<head>
	<title>Existentia (c'est la vie, ma chere)</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali|Meddon|Varela+Round|Caveat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/poetry.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
	<script type="text/javascript" src="../javascript/poetry.js"></script>
	
</head>

<body>
	<div class="fixed_header">
		<div class="button"><a href="about.html">About</a></div>
		<div class="button" id="logo"><a href="../index.html">Kai M</a></div>
		<div class="button"><a href="collections.html">Collections</a></div>
		<div class="page"> </div>
	</div>
	<div class="content" id="top">
		<h2>Existentia (c'est la vie, ma chere)</h2>
		<ul>
			<li><a href="#myth">Myth<div class="number">1</div></a></li>
			<li><a href="#nymph">My nymph<div class="number"></div></a></li>
			<li><a href="#spell">A spell over a garden plant<div class="number">2</div></a></li>
			<li><a href="#apologia">Apologia pro amor<div class="number">3</div></a></li>
			<li><a href="#exuro">Exuro<div class="number">4</div></a></li>
			<li><a href="#temperance">Temperance<div class="number">5</div></a></li>
			<li><a href="#misconceptions">Misconceptions<div class="number"></div></a></li>
			<li><a href="#madness">Of love and madness<div class="number">7</div></a></li>

		</ul>
<!-- 	<div class="poem" id="">
			<h3></h3>
			<br><div class="date">Last edit _ _<sup>th</sup> 2019</div>
		</div> -->
		<div class="poem" id="myth">
			<h3>Myth</h3>
			<img src="../images/eyes.png" class="banner" alt="Banner: teo diembodied eyes and leaves in the background.">
			Trust not my charming elfish song, 
			<br>let dreams be sleep, and world be gone. 
			<br>
			<br>You are not safe around these woods
			<br>where evil spirits live and brood,
			<br>you should have run while you still could. 
			<br>
			<br>***
			<br>
			<br>Avert your eyes; you must not 
			<br>look at me. As voices dot
			<br>your sleep with rose petals and leaves,
			<br>laying shells to your head for seas
			<br>to solace your heart and lead you to sleep,
			<br>
			<br>I look into your closed eyes, your deep
			<br>soul, kind and tender, guarded by your eyelids. 
			<br>You are the essence of beauty world forbids, 
			<br>reality shaken into entropy by existence 
			<br>of perfection of lips that are not to be kissed. Tense
			<br>
			<br>and vulgar are tense and voice of the phrase, yet
			<br>sanity discovers the Big Bang in tête-a-tête 
			<br>we won’t ever have. You are not to come 
			<br>to my doorstep, the sea shore and numb
			<br>with my overflow thick forest. Caress 
			<br>of your fingers is ecstasy, largesse
			<br>of the Universe does not extend to permitting 
			<br>me. I tremble in contempt at the thought of committing 
			<br>
			<br>such an atrocity as drowning in your ocean
			<br>or inhaling your flawless scent. Your caution
			<br>is non-existent, trust fatally unreserved. Heed
			<br>my warning and run; I see you bleed
			<br>under my thorn, enthralled, you do not plead 
			<br>for salvation. I am starved for the mead
			<br>and wine of your sorrow and pleasure.
			<br>In the Bard’s words, measure for measure,
			<br>
			<br>yet I have nothing to give to Astraea, my sea
			<br>dry as my chapped lips. I loathe the glee
			<br>that bursts in my chest when I see the naked skin 
			<br>of your chaste wrist. Your neck and heart, pristine,
			<br>have never known my touch. I feel the metal
			<br>of your liquor on my tongue and revel
			<br>in the passion that consumes me whole. 
			<br>You are bewitched, I wish to save the soul 
			<br>that lead Ananke to my dwelling; her curse
			<br>will not wear off with your sleep, my verse
			<br>as young as the night, too green to catch 
			<br>the harmony of you; such grace can match 
			<br>the taste of nectar and must not decay
			<br>
			<br>under the sky. C’est mon debut: I pray. 
			<br>No god will speak to me, my life akin
			<br>to the emerging bruises on your skin;
			<br>the fruit that leads the path to carnal sin,
			<br>you, surely, are as white and chaste within. 
			<br>While Pothos casts his cruellest of spells,
			<br>oh, let me find a way, let me rebel, 
			<br>not spoil thee with wicked noxious touch;
			<br>
			<br>desire clouds my vision, lust as hutch
			<br>encaptures me; the pantheon be damned
			<br>if I let thee rot; with my own hand
			<br>I close your neck that pearls would only rob
			<br>of beauty; bless, my darling, not a sob
			<br>
			<br>escapes your lips that I bend down to kiss
			<br>to steal your voice and breath and grant you bliss.
			<br>I drink you in, your spirit in my core
			<br>
			<br>and beauty in my arms. Forevermore 
			<br>thou will be beautiful and young and chaste at heart;
			<br>
			<br>thy body’s fate’s to know my black art. 
			<br><div class="date">Last edit April 10<sup>th</sup> 2018</div>
		</div>
		<div class="poem" id="nymph">
			<h3>My nymph</h3>
			My lovely forest nymph to whom in beauty there is no rival,
			<br>
			<br>pray for mortal souls,
			<br>especially your own, as I’ve noticed a certain look
			<br>you give me on the sly.
			<br>
			<br>you look at me as if 
			<br>I’m your salvation,
			<br>your hero,
			<br>god,
			<br>and other epithets;
			<br>
			<br>you should know better
			<br>
			<br>now.
			<br>
			<br>I’m a threat;
			<br>I want you 
			<br>to myself and
			<br>I’ll do things that higher power never so intended that they be out of love or good intention 
			<br>of jealousy.
			<br>So I’ll let you come closer and then
			<br>entrap you with my melody.
			<br>
			<br>You’ll never leave, my nymph, and as intended, 
			<br>you’ll stay forever
			<br>by my side in love. But as it is, I see that 
			<br>you pretended 
			<br>to be content and now you want to leave.
			<br>
			<br>I know the shallow nature of the pretty and beautiful who catch another’s 
			<br>eye. 
			<br>And yours got caught, 
			<br>and now I can’t deny 
			<br>that you won’t stay with me out of pity 
			<br>or love. 
			<br>Forgive me future trespasses, and in thy orisons remember all my sins.
			<br>
			<br>Thine eye offended thee; I pluck it out.
			<br>
			<br>The girl with one eye has to stay with me.
			<br><div class="date">Last edit March 11<sup>th</sup> 2019</div>
		</div>
		<div class="poem" id="spell">
			<h3>A spell over a garden plant</h3>
			Listen to me, mother, 
			<br>listen.
			<br>All we are is cruising in an ocean of despair.
			<br>A sister, a brother,
			<br>no clue as to what’s fair.
			<br>Keep them happy and well.
			<br>
			<br>All we ever have is each other
			<br>and anything that we share,
			<br>so each one’s a lover,
			<br>so everyone’s taking care.
			<br>Keep them safe and sound.
			<br>
			<br>There’s no other place to call home,
			<br>the warmth is sold out,
			<br>the world’s cold as stone.
			<br>But no one’s without
			<br>a mother.
			<br>Keep them alive and loved. 
			<br>
			<br>Listen to me, mother.
			<br>A sister, a brother,
			<br>make sure they’re here,
			<br>and as for me, dear...
			<br>Keep them well.
			<div class="date">Last edit July 17<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="apologia">
			<h3>Apologia pro amor</h3>
			<img class="inside" src="../images/shipwreck.png" alt="A drawn ship sinking in waves">
			Unannounced, blues
			<br>kicks down my door – never
			<br>before has life sucked out 
			<br>as much – leaves 
			<br>
			<br>mint and metal on my tongue, 
			<br>leaves wanting more, leaves  
			<br>fall beside my empty 
			<br>ashtray, “mother, I 
			<br>cannot weave.” 
			<br>
			<br>Longing, anxiety, expectations fill
			<br>relationships to their brinks. I 
			<br>
			<br>cannot weave Golden Fleece, sweet 
			<br>mother, my ship
			<br>sinks. 
			<br><div class="date">Last edit May 31<sup>st</sup> 2018</div>
		</div>
		<div class="poem" id="exuro">
			<h3>Exuro</h3>
			<img src="../images/carpet.png" alt="An image of a skeleton lying on a dark magenta carpet with smoke coming out of the skeleton." class="inside">
			Unannounced, the blues
			<br>kicks down my door, starts
			<br>tearing the chords apart, hurls
			<br>the piano part across
			<br>the kitchen table, leaves 
			<br>
			<br>mint and metal on my tongue, 
			<br>leaves me bleeding on the floor, leaves  
			<br>fall on the windowsill beside my polished
			<br>ashtray. Out of burnt 
			<br>and wasted leaves I
			<br>compose a shrine to 
			<br>all that is dead to me. No time
			<br>like now
			<br>
			<br>to oxidize my soul. Ash
			<br>seeps into the corridor.
			<br><div class="date">Last edit June 14<sup>th</sup> 2018</div>
		</div>
		<div class="poem" id="temperance">
			<h3>Temperance</h3>
			Our song is like a wine, my dear.
			<br>On hallowed ground,
			<br>we cannot step on the forever despaired sphere
			<br>that holds us down.
			<br>
			<br>We do not fret for our floral quality,
			<br>they’ll rise as usual,
			<br>yet as we sigh together audibly,
			<br>we realise we are delusional.
			<br>
			<br>As we seek balance in the universe,
			<br>my precious flower,
			<br>I’ll plant you for growth in my moving verse,
			<br>and as mysterious as moon's reverse,
			<br>know the sad hour.
			<br><div class="date">Last edit September 24<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="misconceptions">
			<h3>Misconceptions</h3>
			If we have a date in Constantinople, 
			<br>you’ll be waiting in Istanbul.
			<br>
			<br>I constantly miss you and miss your
			<br>timing. I miss what you say at the end
			<br>of your lines, or what you don’t say at 
			<br>all. I mess up on the rhythm of my
			<br>lines. I always have a bit still left
			<br>over, of what I need to say… 
			<br>
			<br>We mess up on each other’s
			<br>timing, and we keep 
			<br>finishing each other’s 
			<br>sentences with all the wrong
			<br>words. We are an eon 
			<br>apart every time we 
			<br>speak, and we are moving 
			<br>in the wrong directions. 
			<br>
			<br>And whatever we tell each other gets
			<br>misconstrued; so if I say, love you, you hear,
			<br>fuck off, and if I say, fuck off, you hear,
			<br>love me; and if I try to hug you, you
			<br>twirl away, but if I’m playing with a knife, you
			<br>run into my closed cold arms.
			<br>
			<br>And if we have a date in Constantinople,
			<br>you’ll be waiting in Istanbul.

			<br><div class="date">Last edit March 6<sup>th</sup> 2019</div>
		</div>
		<div class="poem" id="madness">
			<h3>Of love and madness</h3>
			Entranced by gentle glow of the light,
			<br>I let myself be led to summer glory.
			<br>
			<br>Relapse means I might never be alright,
			<br>But with a breath I start another story
			<br>Of anything and everything at once,
			<br>Whilst keeping secrets from my self-perception.
			<br>And as I cry, the nightmares start to dance
			<br>And chant as every single recollection
			<br>Is written off as side of medication,
			<br>And stars start screaming out, shining in
			<br>to bedroom's window, and the incantations
			<br>illuminated, light the more serene
			<br>the more it is the only stars' salvation
			<br>that's brought upon them in the death of still
			<div class="indent">
				and universal hum: they burn away
				<br>while their silent screams just plead to stay.
			</div>
			<br>
			<br>Ahoy, my fair warrior, behold,
			<br>My lady, sign of full compassion.
			<br>And thus I name thee queen, now not cold,
			<br>but merciless, the dame of my confessions.
			<br>My love, my queen, allow me a kiss
			<br>Before my soul fails to exist,
			<br>Before the universe my screams can cease
			<br>To hear let me go in bliss.
			<div class="indent">
				My love, my queen, allow thy fair knight
				<br>A kiss of love, thy bliss and death in fight.</div>
			<br><div class="date">Last edit February 3<sup>rd</sup> 2018</div>
		</div>

	</div>
	<a href="#top"><div class="upto"><img src="../images/upto.png" alt="Up to the list of contents"></div></a>
</body>
</html>