<!DOCTYPE html>
<html>
<head>
	<title>Language poetry</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali|Meddon|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/poetry.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
	<script type="text/javascript" src="../javascript/poetry.js"></script>
	
</head>
<body>
	<div class="fixed_header">
		<div class="button"><a href="about.html">About</a></div>
		<div class="button" id="logo"><a href="../index.html">Kai M</a></div>
		<div class="button"><a href="collections.html">Collections</a></div>
		<div class="page"> </div>
	</div>
	<div class="content" id="top">
		<h2>Language poetry</h2>
		<ul>
			<li><a href="#daughter">The Otter Daughter <div class="number">1</div></a></li>
			<li><a href="#fishes">Bony fishes leave the water <div class="number">2</div></a></li>
			<li><a href="#friend">Is your friend here in the house? <div class="number">3</div></a></li>
			<li><a href="#babyface">I've got a case <div class="number">4</div></a></li>
		</ul>
		<div class="poem" id="daughter">
			<h3>The Otter Daughter</h3>
			<img class="banner" src="../images/daughter.jpg" alt="Image of a Victorian child with the head of an otter.">
			The otter daughter, 
			<br>who lived in water
			<br>and slept in slaughtered
			<br>with canopy beds,
			<br>
			<br>she lived forgotten
			<br>and misbegotten
			<br>until Miss Rotten
			<br>found her head:
			<br>
			<br>she wasn’t special,
			<br>she lacked attention,
			<br>except for crucial
			<br>one little bend:
			<br>
			<br>she was an otter,
			<br>an otter’s daughter,
			<br>but all the otter-
			<br>ness was her head;
			<br>
			<br>she was a human,
			<br>a human woman,
			<br>but all the human
			<br>was in her flesh.
			<br>
			<br>she wasn’t loud,
			<br>but in the clouds
			<br>she lost her bowed
			<br>ottery head,
			<br>
			<br>and when they saw her,
			<br>the sons of lawyers
			<br>raised on Tom Sawyer,
			<br>they cried ahead,
			<br>
			<br>there goes an otter,
			<br>an otter’s daughter,
			<br>she will be slaughtered
			<br>for mid-lunch snack!
			<br>
			<br>they ate her
			<br>-	eyes with fries
			<br>-	toes with rose
			<br>-	nails with fish tails
			<br>-	bladder with cheddar
			<br>-	liver they dunked in the river and served to givers to their cause
			<br>-	tongue with some lung (and a song they had sung)
			<br>-	fingers had lingered, but were chopped in a ragout with the liver and served with a zinger
			<br>
			<br>they left her ears
			<br>so she could hear 
			<br>as they all jeered 
			<br>at the weird mess
			<br>
			<br>her head of an otter – 
			<br>an otter’s daughter – 
			<br>was stuffed with oats or
			<br>put on display.
			<br><div class="date">Last edit October 8<sup>th</sup> 2018</div>
		</div>
		<div class="poem" id="fishes">
			<h3>Bony fishes leave the water</h3>
			<img src="../images/banner.png" class="banner" alt="Banner with bony fishes swimming.">
			Bony fishes leave the water
			<br>Bone knee lives in walker
			<br><ul class="inside"><li class="insidelist"> Bony-kneed Liv lives with what tore her</li></ul>
			Bonnie Fisher leaves the waiter
			<br>Bone the fishes; leaves, they waiver
			<br>Bones, goes fish and leaves the wait, or
			<br>Bon knee fission; leaf is wayward
			<br>Bone fissure leaf is warty 
			<br>
			<br>my Bonnie lies over the ocean, my Bonnie lies over the sea, my Bonnie fishes with fisherman’s hooks, she fishes for fissures, for fission of vision, for seizures and leaves, and she leaves for Birmingham train in the morning, and whoever saw her would find her appalling, her ways and her slaughter live near the quarter, stay next to the graveyard, I’ve heard she was wayward; my Bonnie fucks ethan, lives what wrought her 
			<br>
			<br>quarter water, leaf and slaughter, and the sea is getting hotter, apropos of what has wrought her she decides to live in water. daughter, daughter, came and brought her, now the sea is getting rotten, otter potter came to trot there, ended up he getting slaughtered; after water came the quarter: half a head and half was brought here, other quarters one could find in the instances of rhyme in a far and distant time of electric chairs and limes. 
			<br>
			<br>fishes in dishes, bones and wishes; thoughts and prayers and no one cares.
			<br>fishes in dishes, bones and wishes, vicious witches are termed mrs bitches, the mission is riches, whoever the creature, and after the switches the snitches get stitches; ambition’s delicious, but so’s tradition, hear out their conditions, appoint physicians; boned the bones, leaves and stones, older cauldrons, static and worn drums. 
			<img src="../images/fishskeleton.jpg" class="inside" alt="An image of a golden fish skeleton under a wishbone.">
			<br>leave the leaf and then let live; thieves, they steam and weave the sleeves; prosecution lets them grieve, but decides to let them cleave all the bones not found in ground, weave the cell bars all around. want to cry? let feelings heave, bite your lip and try to breathe, if that doesn’t stop the tears, then you start suppressing fears, if they’re still not letting go, one does not just let them flow, then make sure not to respond and go drown in the pond.
			<br>
			<br>
			bony tony is a phony, as he lies, the ground is stony; leave your steed and get a pony, hide the saddle, tell baloney; horse around with cannelloni, add some cheese and then bologna. when they pay the alimony, telephone them acrimony. join holy matrimony with your cheese-string macaroni after years of parsimony, settle in and make it homey.  then go change your testimony, add to it some ceremony: some are bitter, some are sharp; find yourself a bony carp. 
			<img src="../images/fish.png" class="inside" alt="Collage made of interpretations of the word waves.">
			<br><div class="date">Last edit October 1<sup>st</sup> 2018</div>
		</div>
		<div class="poem" id="friend">
			<h3>Is your friend here in the house?</h3>
			<img id="isfriend" class="inside small" src="../images/yourfriend.png" alt="A simplistic drawing of a person standing in front of a door holding a shovel">
			Is your friend
			<br><span class="even">here in the house? I’ve got</span> 
			<br>a horrible
			<br><span class="even">itch to take a shovel and bring it down,</span>
			<br>downer,
			<br><span class="even">downer onto his head.</span>
			<br>Tell me, i
			<br><span class="even">s your friend here in the house?</span>
			<br>Kant
			<br><span class="even">would want me to know, is your fri</span>
			<br>end
			<br><span class="even">here in </span>
			<br>th
			<br><span class="even">e house? </span>
			<br>is 
			<br><span class="even">your friend here in the house? What a</span>
			<br>pain! But
			<br><span class="even">if you tell me if your friend is here in the house,</span>
			<br>I can kill him
			<br><span class="even">and bury him in the woods</span>
			<br>with my shovel.
			<br><br><span class="add">now skip each even line</span>
			<br><div class="date">Last edit February 22<sup>nd</sup> 2019</div>
		</div>
		<div class="poem" id="babyface">
			<h3>I've got a case</h3>
			I’ve got a case
			<br>of unrecognizable raging age,
			<br>unaging in million days,
			<br>for which I receive doubtful praise.
			<br>
			<br>I’m looking for ways 
			<br>to hasten the pace 
			<br>of age, to go out of this cage
			<br>in any and all ways 
			<br>I can gauge. 
			<br>
			<br>I can feel the gaze
			<br>that lingers on my face,
			<br>the million dates are my wage
			<br>for an unbroken silence of haze
			<br>that others bring in their grace.
			<br>
			<br>In the space
			<br>of my social place,
			<br>I am trying to disengage 
			<br>the chase for adulthood,
			<br>to leave no trace 
			<br>of this phase 
			<br>of a teenage ace,
			<br>but no one will believe
			<br>the age on my ID. 
			<br>
			<br>I’ve got a case
			<br>of the babyface.
			<br><div class="date">Last edit February 22<sup>nd</sup> 2018</div>
		</div>
	</div>
	<a href="#top"><div class="upto"><img src="../images/upto.png" alt="Up to the list of contents"></div></a>
</body>
</html>