<!DOCTYPE html>
<html>
<head>
	<title>Meme poetry</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali|Meddon|Varela+Round|Uncial+Antiqua" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/poetry.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
	<script type="text/javascript" src="../javascript/poetry.js"></script>
	
</head>

<body>
	<div class="fixed_header">
		<div class="button"><a href="about.html">About</a></div>
		<div class="button" id="logo"><a href="../index.html">Kai M</a></div>
		<div class="button"><a href="collections.html">Collections</a></div>
		<div class="page"> </div>
	</div>
	<div class="content" id="top">
		<h2>Meme-inspired poetry</h2>
		<ul>
			<li><a href="#fart"> My Lord, I Had Forgott The Fart <div class="number">1</div></a></li>
		</ul>
		<div class="poem" id="fart">
			<h3><div class="withcomment">My Lord, I Had Forgott The Fart</div>
				<div class="comment">
					The meme the poem is based on is <a href="https://twitter.com/meakoopa/status/709181143581638660" target="blank_">here<br>
					<img class="meme" src="../images/meme.jpg" alt="Tweet: &#39;favourite historical event: This Earle of Oxford, making of his low obeisance to Queen Elizabeth, happened to let a Fart, at which he was so abashed and ashamed he went to Travell, 7 yeares. On his returne the Queen welcomed him home, and sayd, My Lord, I had forgott the Fart.&#39;"></a></div>
			</h3>
			Queen Lizzie, once upon a time, 
			<br>Was making rounds in the land,
			<br>A Duke, a Baron… oh, what chime
			<br>Disturbs our lady from her planned
			<br>Observance of obeisance? That
			<br>The Earle of Oxford, present there
			<br>And at our Queen’s table sat,
			<br>With conversation’s easy air
			<br>Forgot himself in gentle art
			<br>And happened to release a Fart.
			<br>
			<br>“O woe me,” the Earle then cried,
			<br>“I shan’t live down this regret,
			<br>But move to Channel’s other side
			<br>Where they have no etiquette! 
			<br>I shall forever leave my home,
			<br>For I forsook the noblest one!”
			<br>He left the table, saying so,
			<br>But Lizzie’s lunch was not yet done;
			<br>The queen had stayed behind to eat
			<br>All kinds of soups, desserts, and meats.
			<br>
			<br>The Earle had travelled seven years;
			<br>He was ashamed, so he had run.
			<br>He went to France, he went to Greece,
			<br>Finally felt like he had won: 
			<br>He was a changed man of learning;
			<br>He studied sciences of old.
			<br>No matter how much he was yearning, 
			<br>He never traded sense for gold.
			<br>‘Twas time enough away from home,
			<br>He went to London right from Rome.
			<br>
			<br>Queen Lizzie, meanwhile, had some time
			<br>To think about the Earle’s mistake;
			<br>She mentioned not the horrid crime
			<br>To anyone in the estate:
			<br>The Lady that she was, she felt
			<br>That it would benefit them both
			<br>If Earle came back and what they smelt
			<br>Were so forgotten that none quoth
			<br>A thing about it. Earle came back,
			<br>Queen Lizzie saw a changed man;
			<br>She was impressed with this new Jack
			<br>Of all trades, bid him welcome; then
			<br>She said what he would take to heart,
			<br>“My lord, I had forgott the fart.”
			<br><div class="date">Last edit October 4<sup>th</sup> 2018</div>
		</div>
	</div>
	<a href="#top"><div class="upto"><img src="../images/upto.png" alt="Up to the list of contents"></div></a>
</body>
</html>