<!DOCTYPE html>
<html>
<head>
	<title>Translated poetry</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali|Meddon|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/poetry.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/translations.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
	<script type="text/javascript" src="../javascript/poetry.js"></script>
	
</head>
<body>
	<div class="fixed_header">
		<div class="button"><a href="about.html">About</a></div>
		<div class="button" id="logo"><a href="../index.html">Kai M</a></div>
		<div class="button"><a href="collections.html">Collections</a></div>
		<div class="page"> </div>
	</div>
	<div class="translatedcontent" id="top">
		<h2>Translated poetry</h2>
		<ul>
			<li><a href="#memento">Memento mori <div class="number">1</div></a></li>
			<li><a href="#warmth">Я растворяюсь || I am dissolved <div class="number">2</div></a></li>
			<li><a href="#wanderer"> Баллада |не|везучего странника || The |un|lucky wanderer's ballad<div class="number">3</div></a></li>
			<li><a href="#ballad"> Баллада || Ballad<div class="number">5</div></a></li>
			<li><a href="#vengeance"> Месть обжигает || Vengeance burns<div class="number"></div></a></li>
			<li><a href="#brother"> Брату || To brother <div class="number">6</div></a></li>
			<!-- <li><a href="#brother"> быть войне || war <div class="number"></div></a></li> -->
			
			<li class="subcollection"><a href="#given"><div class="subcollection">To ___<div class="numbers"></div></div></a>
				<ul class="itemssubc">
					<li><a href="#given"> Дано; условие || The given; the condition <div class="number">7</div></a></li>
					<li><a href="#lost"> К почти-потерянной || To the almost-lost one <div class="number">8</div></a></li>		
				</ul>
			</li>
			

		</ul>
		<div class="poem" id="memento">
			<h3>Memento mori</h3>
			<div class="ogpoem" >
				Memento mori, моя златая, ты помни весь яростный гвалт и дым, ты помни песню костей и рая, ты помни каждого, кто любил. 
				<br><br>
				<br>Ты помни вечно серую стену, что встанет между тобой и мной, дожди вводи себе прямо в вену и пей из бокала морской прибой. 
				<br><br>
				<br>Ты помни о тех, кто давней и старше, ты звёзды прямо с небес хватай, достанется тем, кто странней и дальше. 
				<br>
				<br>Так и получится личный рай			
				<br><div class="date">Last edit April 5<sup>th</sup> 2017</div>
			</div>
			<div class="translation">
				Memento mori, my darling beauty, remember the violent smoke anew, remember the song of bones and refuge, remember everyone who loved you.
				<br>
				<br>Remember that grey and eternal wall that will forever separate us, inject the rain right into your veins and drink the sea waves from a wine glass.
				<br>
				<br>Remember those older and wiser and reach the sky just to grab the stars; they’re only for those strange and divided.
				<br>
				<br>That’s how you get your paradise. 
				<br><div class="date">Last edit January 24<sup>th</sup> 2019</div>
			</div>
		</div>
		<div class="poem" id="warmth">
			<div class="ogpoem">
				<h3>Я растворяюсь</h3>
				Я растворяюсь в нежном твоём тепле. 
				<br><br>
				<br>Холод по вене режет, внушая скорбь, я на земле лежу, сухой, ледяной земле, кроюсь щитом, как пледом, такая дробь, надвое делит меня, а судьбу - на три. Нет никаких мечт и надежд внутри, что за любовь, пройден уж тот успех, солнце зайдёт и скатится. 
				<br><br>
				<br>Без помех я помещаю своё сообщенье в среды тех, кто заботы/любви никогда не ведал, тех, у кого колотится в такт строке вечного разума, лежащего на песке. 
				<br><br>
				<br>Крытый стеклом, я корчусь, корёжусь, сплю три часа за ночь. Ярость свою делю, часть отцу, две части тебе, и может, что-то уйдёт мне на вторую кожу. 
				<br><br>
				<br>Я растворяюсь в нежном твоём тепле, что заточило на годы меня в стекле, только, ты знаешь, я разобью всё сам, не доверяя остаток кошмарным снам. 
				<br>
				<br>Кто меня сможет принять, тот меня найдёт. 
				<br>
				<br>Я за собой оставляю лишь хрупкий лёд.

				<br><div class="date">Last edit June 6<sup>th</sup> 2017</div>
			</div>
			<div class="translation">
				<h3>I am dissolved</h3>
				I am dissolved in the gentleness of your warmth.
				<br>
				<br>Frost cuts into my veins and brings distraction; here I lie on the ground, on the dry icy earth, covered with a shield as a blanket; there is a fraction that divides me into two, and my fate into three. There is no hope, no dreams left inside of me; love has been passed, not conquered; the sun is going down. 
				<br>
				<br>No interference; I run my message on air of all the radio stations for those who never knew any love or care, those whose hearts beat to the rhythm of lines of the eternal consumed by the quicksand mind. 
				<br>
				<br>Covered with glass, I squirm, move around, and sleep three hours a night, divide the anger in me; part goes to father, two parts to you, maybe a thin stripe will be left to make me a second skin. 
				<br>
				<br>I am dissolved in the gentleness of your warmth that has for years kept me in a glass form; I will break out of it myself, ma chere, not leaving any to my untrusted nightmares. 
				<br>
				<br>Those who can accept me will find me in a trice.
				<br>
				<br>I only leave behind a trail of brittle ice. 

				<br><div class="date">Last edit January 27<sup>th</sup> 2019</div>
			</div>
		</div>
		<div class="poem" id="wanderer">
			<div class="ogpoem">
				<h3>Баллада |не|везучего странника</h3>
				«Так сладок мёд, что, наконец, он горек; избыток вкуса убивает вкус», - и стоя на горе во мрак потёмок, услышав твой не-голос, обернусь. Скитальник, страннец; странен лишь нестранный: идёт в границу веры абсолют. И опоясанный простуды душной тканью, навстречу от тебя я в тень войду.
				<br><br>
				<br>Внесут меня, как странника эпохи. И восхвалят, и не поймут, простив. И только крысы, кошки и их блохи подхватят мой бесхитростный мотив.
				<br>
				<br>Закрой вуаль, моя святая жница: коснуться губ твоих я б вовсе не посмел. Как только в поле воздух колосится, так можно точно знать, кто не успел. Взглянёшь однажды мне в глаза с укором и тут же превратишься в тишину созвездий, что в одну минуту хором любовь и отдаленье воспоют.
				<br><br>
				<br>Войду тогда в свою тюрьму украдкой. И сяду в уголке, где есть покой; усну и обернусь я без препятствий в бушующий ласкающий прибой.

				<br><div class="date">Last edit summer of 2015</div>
			</div>
			<div class="translation">
				<h3>the |un|lucky wanderer's ballad</h3>
				“The sweetest honey is loathsome in his own deliciousness and in the taste confounds the appetite” – while standing on a mountain unknown in dimmest light, your un-voice I will face. A nomad, drifter; only normal’s weird; the absolute confounds lines of faith. Robed in the stuffy common cold veneer, I’ll enter shadow towards you contained.
				<br>
				<br>They’ll carry me as wanderer renowned and praise me, and forgive me nonetheless. With them not grasping it, my artless sound will be by cats, mice, and their lice possessed. 
				<br>
				<br>Let down your veil, my high priestess of reaping: I wouldn’t dare touch your lips with mine. When air in the fields begins its weeping, you know for sure who ran out of time. Look into my eyes with your kind reproach and you will turn at once to silence of the constellations that’ll sing praises both to far and wide apartness and to love.
				<br>
				<br>Then I will come into my prison cell discreetly. I’ll sit in the calm corner of the cave and fall asleep. And then I’ll turn completely into the stormy gentle ocean waves. 

				<br><div class="date">Last edit January 28<sup>th</sup> 2019</div>
			</div>
		</div>
		<div class="poem" id="ballad">
			<h3>Баллада</h3>
			<div class="ogpoem">
				Теряется в пространстве сущее, 
				<br>неповторимое молчание, 
				<br>что говорит невольно блудшему: 
				<br>"Зайди, забудь свои страдания, 
				<br>будь понят, отогрет, напоен 
				<br>и упоённый мёдной брагою 
				<br>ляг на полу, конь на постое, 
				<br>и будь погублен ночью святою". 
				<br>
				<br>Мешают духи перелесицы, 
				<br>что ноют, требуют и носятся: 
				<br>"Забудь, забудь проклятье древнее 
				<br>той двуязычной лжепророчицы; 
				<br>добро пожаловать к нам в комнаты, 
				<br>где древа - стены, ветер - стёклами, 
				<br>здесь пьяной ночью будешь волен ты 
				<br>уснуть и быть забранным волками". 
				<br><br>
				<br>Кричат наперекор долины им: 
				<br>"Ну, не водись ты, странник, с бесами! 
				<br>Уж лучше наш прими ночлега дым, 
				<br>приляг и отдохни; не тесными 
				<br>тебя лесов-манилок стиснем мы, 
				<br>а распростёртыми/распятыми 
				<br>(смотря каку могилу хочется) 
				<br>тебя повесят над ребятами 
				<br>объятьями в копилку возчицы". 
				<br>
				<br>И только тихо-тихо песенка 
				<br>Луны вдали едва мерещится: 
				<br>"Забудь ты их, мой странник, лесенка 
				<br>тебя дождётся расчудесная, 
				<br>найди ночлег по вкусу скромному 
				<br>и, уделив своим желаниям, 
				<br>оставь себе и другам поровну
				<br>любви, вина и сострадания".

				<br><div class="date">Last edit summer of 2015</div>
			</div>
			<div class="translation">
				The unmatched silence seems to go astray
				<br>in never-ending distance of the woods
				<br>and says to traveler who lost their way,
				<br>“Come in, dear, you’ll be understood,
				<br>forget your sorrows, dine and wine with us,
				<br>and warm and drunk on finest ale,
				<br>lie down on the ground, and thus
				<br>be dead before the sunrise pales.”
				<br>
				<br>The spirits of the forest mess around,
				<br>they ramp about, whine, and make demands,
				<br>“Forget, forget the curse of sound
				<br>that two-tongued lying wench commands;
				<br>in our rooms we truly welcome thee,
				<br>where walls are trees and windows made of winds, 
				<br>here on this drunk night you’re at liberty
				<br>to sleep and let wolves tear off your skin.”
				<br>
				<br>In their spite, the valleys shout then,
				<br>“Don’t deal, wanderer, with imps and fiends!
				<br>You’re better off accepting our den;
				<br>come lodge here, we’ll see to your needs.
				<br>We won’t use tight as forests-beckonings,
				<br>but rather spread out/crucified (here you
				<br>decide what grave you want below the rocks)
				<br>you will be hanged above the merry crew
				<br>in an embrace for wolf queen’s soul box.”
				<br>
				<br>Yet in the distance very quietly
				<br>the Moon’s song seems to whisper barely.
				<br>“Forget them, traveler mine, entirely,
				<br>will wait for you the gleaming stairway’s end. 
				<br>Find lodging to your humble taste,
				<br>and, having seen to own appetites,
				<br>share between friends and self so fairly
				<br>some love, some wine, some mercy, and delight.”

				<br><div class="date">Last edit February 22<sup>th</sup> 2019</div>
			</div>
		</div>
		<div class="poem" id="vengeance">
			<div class="ogpoem">
				Месть обжигает тонким прозрачным льдом.
				<br>
				<br>
				<br>Ты запиваешь горечь сухим вином, позволяя жечь своё горло и падать вниз, там, где последний пропал уж давно каприз, там, где был бархат, теперь же возникла сталь, там, где июнь сменился на твой февраль.
				<br>
				<br>
				<br>Смотришь на то, как сжимаешь в своей горсти то, что должно было мерно/тепло расти; вьёшь нити жизни, сколько ещё плести? Тянешь кинжала лезвие по кости, ты говорить не можешь, к чёрту теперь слова. Где же развеять прах той, что уже мертва?
				<br>
				<br>
				<br>Льёшь по артериям желчь, по бокалам – кровь.
				<br>
				<br>Эта потеря зовется теперь любовь.

				<br><div class="date">Last edit March 27<sup>th</sup> 2017</div>
			</div>
			<div class="translation">
				Vengeance burns cold as thin and transparent ice. 
				<br>
				<br>You drink to bitterness, letting the dry red wine burn your throat and fall to your gut where the last vice has long since dissolved; velvet was cut and turned into steel; the price was replacing July with February, a steal for such a load to carry.
				<br>
				<br>Looking at how you crush in your hand what was supposed to steadily/gently age, you spin the thread of life, how longer is left to sew? You pull the dagger along the bone, can’t talk, and to hell with the language thread. Where would you spread the ashes of one who’s already dead?
				<br>
				<br>You pour bile into arteries, and into glasses – blood. 
				<br>
				<br>This utter loss is now called gently <i>love</i>.

				<br><div class="date">Last edit February 26<sup>th</sup> 2019</div>
			</div>
		</div>
		<div class="poem" id="brother">
			<div class="ogpoem">
				<h3>Брату</h3>
				Дорогой мой брат, говори мне, что неправа, что полетела, когда листва да трава – неведомые слова; голова всё мёрзнет в январский холод.
				<br>
				<br>Ты пока что младенчески и космат, и наивен; я не смогла удержаться на лезвии там, где мгла, где пропадают по всем углам сети, которые я сожгла в зимний мороз и голод
				<br>
				<br>до твоего рожденья. Ты знаешь, колядки, а значит, пенье должны согревать и дарить терпенье. Это звенья в дороге в ад,
				<br><br>
				<br>эти сумрачные напевы, что должны мне давать посевы, но приводят меня лишь к гневу от всеобщей матери-Геры.
				<br><br>
				<br>Я привожу примеры, но довольно, маленький брат, говори мне, что не смогла, говори мне, что я вернусь; я закончу уж свой обряд, да и с крыши я навернусь.
				<br>
				<br>Я, возможно, и неправа.
				<br>
				<br>Будь спокоен, мой милый брат,
				<br>
				<br>говори мне, что я слаба. 

				<br><div class="date">Last edit January 30<sup>th</sup> 2017</div>
			</div>
			<div class="translation">
				<h3>To brother</h3>
				Dear brother, tell me I’m wrong, tell me I flew along when leaves and grass are unknown words; my head is freezing in this winter cold. 
				<br>
				<br>You are still an infant, shaggy-haired, naïve; I couldn’t stay on the blade of a razor or weave the shadow, where around every corner there are missing nets that I burnt in the winter cold, famine, and debts
				<br>
				<br>before you were born. You know, carols and, therefore, singing, should warm one up and allow willing. These misgivings are steps on the road to hell,
				<br>
				<br>these gloomy motifs that whisper spells should give me seeds to sow for the year, but only lead to fear of the wrath of everyone’s mother – Hera. 
				<br>
				<br>I keep giving examples, but that’s enough, little brother, enough. Tell me all my talents are bluff, tell me that I’ll come home; I will finish my solemn rite, and then fall off of the roof’s dome. 
				<br>
				<br>But of course, then, maybe I’m wrong.
				<br>
				<br>Just keep calm, darling brother mine,
				<br>
				<br>tell me I can’t be strong.

				<br><div class="date">Last edit February 15<sup>th</sup> 2019</div>
			</div>
		</div>
		<div class="poem" id="given">
			<h3>Дано; условие</h3>
			<div class="ogpoem">
				Яркий и слишком солнечный слепит свет так, что болят глаза, убегая в ночь, уходящую с каждым мгновеньем прочь. 
				<br>Эта проблема-движения-всех-планет теряет свое значенье, как только здесь теряется гравитация. 
				<br>
				<br>Занавесь окна, что сводят тебя с ума, выделяя корни из n-ных крыш, убегая в книги Гюго, Дюма. 
				<br>
				<br>Я понимаю, почему ты молчишь.

				<br><div class="date">Last edit December 19<sup>th</sup> 2013</div>
			</div>
			<div class="translation">
				I’m blinded by bright, much too sunny light, so my eyes are hurting, turning to night that leaves bit by bit, moment by moment. 
				<br>This problem of planets turning loses all meaning as soon as gravity is forgotten.
				<br><br>
				<br>Cover all windows that bring insanity, finding roots of nth roofs and running into the books by Hugo and Dumas.
				<br>
				<br>I know why you keep silent, my love.

				<br><div class="date">Last edit January 30<sup>th</sup> 2019</div>
			</div>
		</div>
		<div class="poem" id="lost">
			<div class="ogpoem">
				<h3>К почти-потерянной</h3>
				Знаешь... надо когда-то встретиться. Где-то не между бескрайних сетей; мельница в поле не мельница.
				<br>
				<br>Ты была "лучшая из людей", ты всегда оставалась, совершая ночной обряд так, чтобы всем воздАлось.
				<br>
				<br>Я же смотрела на звездопад, вспоминая тебя, "всем по вере" и книгу Сартра, где, возможно, осталось совсем немного после того моего полночного старта.
				<br><br>
				<br>Фразы храни для блога и Бога, которому наплевать на все детали наших трагикомедий.
				<br><br>
				<br>Я тебя совсем не умею ждать.
				<br>
				<br>Ты, пожалуй, умеешь верить. 

				<br><div class="date">Last edit Match 1<sup>st</sup> 2013</div>
			</div>
			<div class="translation">
				<h3>To the almost-lost one</h3>
				You know, we should meet sometime outside of these endless webs; a windmill loses all tilt. I’m
				<br><br>
				<br>Sure you were the best of the best; you always carried the burden of nightly ritual so that everyone had their share. 
				<br>
				<br>I was looking at the stars falling above, thinking of you, “according to their works” (is it fair?) and  of that book by Sartre, which, I think, had just a few pages left after I started at midnight again that one time.
				<br>
				<br>Save all the sentiments for your blog and for God, who doesn’t give a shit about the details of our dramedies and instead thinks of leaving. 
				<br>
				<br>I know not how to wait for you.
				<br>
				<br>You, though, are good at believing. 

				<br><div class="date">Last edit January 30<sup>th</sup> 2019</div>
			</div>
			<!-- <div class="poem" id="war"> -->
				<!-- <div class="ogpoem"> -->
					<!-- <h3>быть войне</h3> -->
					<!-- <br><div class="date">Last edit _ _<sup>th</sup> 2019</div> -->
				<!-- </div> -->
				<!-- <div class="translation"> -->
					<!-- <br><div class="date">Last edit _ _<sup>th</sup> 2019</div> -->
				<!-- </div> -->
			<!-- </div> --> 
		</div>
		<!-- <div class="poem" id="">
			<div class="ogpoem">
				<br><div class="date">Last edit _ _<sup>th</sup> 2019</div>
			</div>
			<div class="translation">
				<br><div class="date">Last edit _ _<sup>th</sup> 2019</div>
			</div>
		</div> -->
	</div>
	<a href="#top"><div class="upto"><img src="../images/upto.png" alt="Up to the list of contents"></div></a>
</body>
</html>
