<!DOCTYPE html>
<html>
<head>
	<title>Windowsill talks</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Mali|Meddon|Varela+Round" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../stylesheets/poetry.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
	<script type="text/javascript" src="../javascript/poetry.js"></script>
	
</head>

<body>
	<div class="fixed_header">
		<div class="button"><a href="about.html">About</a></div>
		<div class="button" id="logo"><a href="../index.html">Kai M</a></div>
		<div class="button"><a href="collections.html">Collections</a></div>
		<div class="page"> </div>
	</div>
	<div class="content" id="top">
		<h2>Windowsill talks</h2>
		<ul>
			<li><a href="#decor">Decor<div class="number"></div></a></li>
			<li><a href="#spirit">Of your spirit<div class="number"></div></a></li>
			<li><a href="#sheloves">She loves me (not)<div class="number"></div></a></li>
			<li><a href="#rest">Rest, my love<div class="number"></div></a></li>
			<li><a href="#hands">Palmistry<div class="number"></div></a></li>
			<li><a href="#once">Once<div class="number"></div></a></li>
			<li><a href="#tide">I am one with the tide<div class="number"></div></a></li>
		</ul>
		<!-- 	<div class="poem" id="">
			<h3></h3>
			<br><div class="date">Last edit _ _<sup>th</sup> 2019</div>
		</div> -->
		<div class="poem" id="decor">
			<h3>Decor</h3>
			<img src="../images/lotus.png" class="inside" alt="A lotus">
			The first thing I notice
			<br>as I make my way down the hall
			<br>is a peculiar decor of the wall
			<br>across from her bedroom door.
			<br>There’s a tiny bud of lotus 
			<br>that, according to all the lore,
			<br>
			<br>should promise a hopeful future
			<br>all the way down the road.
			<br>No fucks given about the code,
			<br>I stare into the crow’s eyes
			<br>that follow me like a tutor
			<br>in a boarding school late at night.
			<br>
			<br>When I get to the kitchen, I linger
			<br>for a bit, looking at the cheap art 
			<br>in a frame. It makes my heart
			<br>sick as I think of what brought her
			<br>to get a cheesy painting by a singer,
			<br>then I get my glass of water.
			<br>
			<br>She’s in her bed, quietly snoring.
			<br>I’ll be surely gone, come morning.
			<div class="date">Last edit June 11<sup>th</sup> 2018</div>
		</div>
		<div class="poem"  id="spirit">
			<h3>Of your spirit</h3>
			Show me your true colours, darling, 
			<br>and your love. 
			<br>
			<br>I won't notice your dress, scarlet,
			<br>delicate; above 
			<br>the carnival of flesh has started
			<br>in a small flat
			<br>That only holds three sparkling 
			<br>people, and the rest 
			<br>are in the dirty hallway. 
			<br>We go a-knocking
			<br>to the door that has seen better day 
			<br>and lazy mornings. 
			<br>There we enter the festival 
			<br>of kind hands, 
			<br>they embrace us in caramel 
			<br>of their lands. 
			<br>Love, consider it medical
			<br>for a night. 
			<br>I'm becoming less lexical,
			<br>it's a fight. 
			<br>
			<br>We are dancing in ritual 
			<br>and in flames. 
			<br>Darling, pass me the pitcher of 
			<br>bubbles' prance. 
			<br>
			<br>You are hiding under your 
			<br>coldest face. 
			<br>Show me your true colours, baby,
			<br>and your dance.
			<br><div class="date">Last edit June 11<sup>th</sup> 2018</div>
		</div>
		
		<div class="poem" id="sheloves">
			<h3>She loves me (not)</h3>
			She loves me
			<br>while texting at three am
			<br>laughing softly at each side of the line
			<br>not to wake our parents up.
			<br>
			<br>She loves me not
			<br>while fighting about something
			<br>that hurts us both and leaves
			<br>only when the morning comes.
			<br>
			<br>She loves me
			<br>when she looks up from my embrace
			<br>and sees my sleepy smile,
			<br>smiling in return.
			<br>
			<br>She loves me not
			<br>when it’s different outside
			<br>and I can’t talk to anyone,
			<br>locking myself in my head.
			<br>
			<br>She loves me
			<br>when we cook together,
			<br>bumping our hips slightly in the kitchen
			<br>and giggling between kisses.
			<br>
			<br>She loves me not
			<br>when we speak too much
			<br>and it makes all that’s real
			<br>seem so fake.
			<br>
			<br>She loves me 
			<br>when she hugs me 
			<br>after a severe panic attack
			<br>and tells my shaking hands so.
			<br>
			<br>She loves me not
			<br>when I don’t ask her what’s wrong
			<br>when clearly something is,
			<br>and she feels empty.
			<br>
			<br>She loves me. 
			<br><div class="date">Last edit on June 28<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="rest">
			<h3>Rest, my love</h3>
			Rest, my love. Rest
			<br>your heavy head on my thighs,
			<br>let your hair stretch to the west
			<br>from your dry and weary eyes,
			<br>falling in a waterfall of insanity. 
			<br>Let me brush and calm
			<br>them, suspend your fear of gravity
			<br>and lead you by the palm 
			<br>to the realm of serenity.
			<br>
			<br>I will not contest your passion,
			<br>but give you my remedy,
			<br>should thou wish so. Ashes
			<br>of your demons stain my hands.
			<br>Words burn my tongue: I shall not
			<br>speak them. My body's lands 
			<br>are open to your embrace. A sought
			<br>after by all existence love
			<br>covers you as snow.
			<br>It will keep you safe; above
			<br>the Way with a milky flow
			<br>passes by my cheek to soothe you.
			<br>My fingers weave your hair into 
			<br>the thread of life, disentangling
			<br>your pains and evicting them.<br>
			<br>
			<br>My lips touch your soft smile,
			<br>catching on the gentleness of your state,
			<br>half-awake, yet eager to kiss a while,
			<br>the touches that sweeten and placate 
			<br>your very soul.
			<br>
			<br>As you melt, I kiss your forehead
			<br>and let your hair stream down my legs.
			<br>My lips find the way to the florid 
			<br>condensed sunlight in them, which begs
			<br>to be caressed. Contented, you thaw
			<br>under my touch and stay deep
			<br>in me and quietness, lest
			<br>It wakes you up. I watch in awe;
			<br>you're on my thighs; you fall asleep.
			<br>
			<br>Rest, my love. Rest.

			<br><div class="date">Last edit December 5<sup>th</sup> 2016</div>
		</div>
		<div class="poem" id="hands">
			<h3>Palmistry</h3>
			I knew a girl with warm hands
			<br>and a dull soul
			<br>who could never be enough.
			<br>She looked at me with kind eyes
			<br>and a soft smile.
			<br>She wanted to make
			<br>all the voices quiet
			<br>but never understood what they stood for. 
			<br>
			<br>I knew a girl with cold hands
			<br>and the brightest gaze.
			<br>She wanted to become as mad as me
			<br>without ever knowing the struggle.
			<br>She wanted to drive me insane,
			<br>but all it did
			<br>was drive me away.
			<br>
			<br>I knew a girl with soft hands
			<br>whose nails were always painted beige
			<br>or gray 
			<br>or white
			<br>or some other nondescript color. 
			<br>She never understood me,
			<br>but she kissed like she did.
			<br>And loved me for being a mystery.
			<br>
			<br>I knew a girl with stained hands
			<br>that always bore the brand of ink
			<br>from all the stuff she had to write down
			<br>and learn by heart.
			<br>She seemed to love me despite my madness
			<br>but tried to never show it. 
			<br>And she would say so much
			<br>that she said nothing.
			<br>
			<br>I know a girl with pretty hands
			<br>that weave into my hair 
			<br>and make me smile.
			<br>She knows all the lyrics
			<br>to my favorite song,
			<br>but hasn’t ever heard the voices. 
			<br>She likes me fine
			<br>and is willing to work
			<br>to stay with me.
			<br>
			<br>I will know a girl with kind hands
			<br>who’s learnt every voice by heart
			<br>and knows what they sound like.
			<br>She will have seen all of my favorite shows,
			<br>and some of them with me.
			<br>She will be cruelly kind when I need it
			<br>and tell me the truth.
			<br>She will love me for who I am
			<br>and like my voices fine. 
			<br>She will stay because she wants to
			<br>and it will be over
			<br>before it begins.
			<br><div class="date">Last edit August 4<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="once">
			<h3>Once</h3>
			I once knew a girl.
			<br>
			<br>She was always sweet, she wore classic cherry chapstick 
			<br>and had low heels on her feet.  
			<br>She wore a cross and laughed gently,
			<br>frowned upon sex before marriage and lived across
			<br>from a dilapidated ice-cream truck
			<br>that was abandoned in a parking lot.
			<br>As time went on, I almost forgot about her,
			<br>and about the way she was purged
			<br>of half of her lunch and all of her dinner
			<br>every night of the week.
			<br>She wished me to fare well.
			<br>I saw her only on my way to hell.
			<br>
			<br>I once knew a boy.
			<br>
			<br>He was often quiet, thoughtful and almost kind. 
			<br>The riot of his house was to
			<br>leave the front door unlocked when getting groceries. 
			<br>He loved folklore and, to be honest, any
			<br>kind of research. He only had good intentions
			<br>and he was caring. So much was 
			<br>scaring his parents that he
			never went out alone.
			<br>I saw scars that adorned his wrist
			<br>and knew him as one of us. 
			<br>His face was the only one not laughing
			<br>at me as I fell into the vortex.
			<br>
			<br>I once was someone.
			<br>
			<br>Though I can’t remember who.
			<br>I felt this morning like I could be new, 
			<br>but failed. In the light of a sun
			<br>I touched my skin that bailed
			from a city flat 
			<br>that used to belong
			<br>to someone who was me at the time.
			<br>They were pretty and nice
			and had bright hair, blue or green 
			<br>sometimes.
			<br>They hated telephone calls 
			<br>and loved to walk in 
			<br>the rain.
			<br>They wanted a 
			<br>cat and a
			<br>frog.
			<br>They were and 
			<br>then
			<br>they weren’t.
			<br>I heard they either hung themselves
			<br>or slit their wrists
			<br>or maybe OD’ed.
			<br>I never 
			<br>knew for
			<br>sure. 
			<br>I knew
			<br>I couldn’t 
			<br>find
			<br>a
			<br>cure.
			<br><div class="date">Last edit on August 4<sup>th</sup> 2017</div>
		</div>
		<div class="poem" id="tide">
			<h3>I am one with the tide</h3>
			I am one with the tide.
			<br>
			<br>Older than day, my soul rises above time. Above the ticking and tocking clocks, counting seconds and hours, tracking the time left to those concerned; above minutes and ages, it rises. I do not feel the changing of eras and epochs; I am infinite.
			<br>
			<br>Wider than my body, my soul takes up no space. Wider, wider; bigger than countries, planets, and galaxies, it sprinkles stardust in a swooping motion to create life anew. It is of no space at all, it seeps into everything and everyone around me, rounding them up and righting wrongs with gleeful raw love. It is unstoppable.
			<br>
			<br>It is older than any prayer, older than any crucifix pointing up or down hanged above a sick one’s bed. It is older than up or down, older than any cry for help, older than words, older than cruelty and charity. 
			<br>
			<br>It blends itself into the river’s bend, into a bottle that would rather hold a ship than wine; be the product rather than a facilitator of dreams and delicious delusion. Older than devastation of the land, than delirious whisperings of those who have seen the light, older than light itself.
			<br>
			<br>It runs with the fastest among us, with those who need to catch and gather; it can be heard in their screams needed for survival, fuelled by adrenaline, uninhibited. And it flows through a lover’s whisper; it is felt in fingers carding through hair.
			<br>
			<br>It is all the gentleness and all the sacrifice, rolled into one. 
			<br>
			<br>I am as old as the night, much older than the moon that guides the waters. I am bigger than the milky way, whose movement I feel deeply grounded in my solar plexus. I feel all the molecules that compose the earth, that compose the stars, and those that have broken or are yet to form. I feel on behalf of every being, of every atom, and everything in existence. 
			<br>
			<br>I am infinite.
			<br>I am one with the tide. 

			<br><div class="date">Last edit December 28<sup>th</sup> 2018</div>
		</div>
	</div>
	<a href="#top"><div class="upto"><img src="../images/upto.png" alt="Up to the list of contents"></div></a>
</body>
</html>